<html>
    <head>
      <title>Booking System</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script>
      $(function() {
          $( ".dtpick" ).datepicker();
      });
      </script>
  
    </head>
    <body>
        <div>
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('main.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('main.logout')}}">Logout</a>
            {% endif %}
            <a href="{{ url_for('main.book')}}">Book Meeting</a>
            <a href="{{ url_for('main.cancelbooking')}}">Cancel Booking</a>
            <a href="{{ url_for('main.roomavailable')}}">Room Availability</a>
            <a href="{{ url_for('main.roomoccupation')}}">Room Status</a>
            <a href="{{ url_for('main.meetingbooker')}}">Meetings</a>
            <a href="{{ url_for('main.meetingparticipants')}}">Participants</a>
            <a href="{{ url_for('main.costs')}}">Cost Accrued</a>
            <a href="{{ url_for('main.addteam')}}">Add Team</a>
            <a href="{{ url_for('main.adduser')}}">Add User</a>
            <a href="{{ url_for('main.deleteteam')}}">Delete Team</a>
            <a href="{{ url_for('main.deleteuser')}}">Delete User</a>
            {% if current_user.is_authenticated %}
            <div align="right">Log in as: {{current_user.fullname}}</div>
            {% endif %}
        </div>
        
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>